  <!-- Japheth Alpas | StuID: 300798421 | 06/15/2023-->
  <!--Bottom Nav-->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <span class="navbar-text">
          &copy; Copyright 2023. All Rights Reserved
        </span>
      </div>
    </nav>
  </footer>